<footer>
		<p class="text-center">Created by JARVIS &copy;</p>
</footer>
<script>src="js/jquery.min.js"</script>
<script>src="js/popper.min.js"</script>
<script>src="js/bootstrap.min.js"</script>
</body>
</html>