{{>headerAspirante}}
<br>
<div class="col-md-12 text-center">
    <h2 class="text-center">Bienvenido a la sesión de Aspirante</h2>
    <img src="img/imageAspirante.jpg" class="img-fluid" alt="Aspirante">
</div>
{{>footer}}