{{>headerCoordinador}}
<br>
<div class="col-md-12 text-center">
    <h2 class="text-center">Bienvenido a la sesión de Coordinador</h2>
    <img src="img/imageCoordinador.jpg" class="img-fluid" alt="Coordinador">
</div>
{{>footer}}