{{>headerCoordinador}}
<br>
<div class="row justify-content-center">
  <div class="card">
    <div class="card-header">
      Resultado
    </div>
    <div class="card-body">
      <p class="card-text">{{registrarCurso id nombre descripcion valor}}</p>
      <a href="/coordinador" class="btn btn-primary">Volver</a>
    </div>
  </div>
</div>
{{>footer}}