{{>header}}
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Coordinador</h3>
                
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
            </div>
            <div class="col-md-6 login-form-2">
                <div class="login-logo">
                    <img src="img/jarvis.png" class="image-fluid" alt="Logo"/>
                </div>
                <h3>Aspirante</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Your Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                </form>
                <br>
                <button class="btn btn-primary btn-block">Ingresar como interesado.</button>
            </div>
        </div>
    </div>
{{>footer}}