{{>headerInteresado}}
<div class="col-md-12 text-center">
    <h2 class="text-center">Bienvenido! <br>
                            Estas en modo invitado</h2>
    <br>
    <h4>Te invitamos a ser parte de nuestro equipo y registrate!</h4>
    <a href="/register" class="btn btn-info">Regístrate</a>
</div>

{{>footer}}