{{>headerCoordinador}}
<br>
<div class="row justify-content-center">
  <div class="card">
    <div class="card-body">
      <p class="card-text">{{{pasarADocente documento}}}</p>
      <a href="/coordinador/gestion" class="btn btn-primary">Volver</a>
    </div>
  </div>
</div>
{{>footer}}